.sidebar {
  width: 200px;
  height: 100vh;
  border-right: 1px solid #444;
}

.title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
  color: #000;
}

.menuList {
  list-style: none;
  margin: 0;
  padding: 0 16px;
}

.menuItem {
  margin-bottom: 12px;
}

.menuLink {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  display: block;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.menuLink:hover {
  background-color: #444;
  color: #fff;
}
